
@mixin button-colored {
    border: 0;
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 6.25rem;
    color: white;
    background-image: linear-gradient(0deg, #9356DC 40%, #FF79DA 100%);
    cursor: pointer;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);

    &:hover {
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
        background-image: linear-gradient(0deg, lighten(#9356DC, 2%) 40%, lighten(#FF79DA, 2%) 100%);
    }
}

